


    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    
          <ul class="nav col-12 col-md-auto mb-1 justify-content-center mb-md-1">
            <li><a href="#/inicio" class="nav-link px-3 link-secondary">Inicio</a></li>
            <li><a href="#/usuarios" class="nav-link px-3 link-dark">Usuarios</a></li>
            <li><a href="#/postagens" class="nav-link px-3 link-dark">Postagens</a></li>
          </ul>

  
        </header>
      </div>
  