<link rel="stylesheet" href="/css/usuarios.css">


<div class="jumbotron">

<table class="table table-striped table-dark">
    <tr>
    <td>ID</td>
    <td>Nome</td>
    <td>Email</td>
    <td>Postagens</td>
    <td>Delete</td>
</tr>
<tr ng-repeat="us in usuarios">
    <td>{{us.id}}</td>
    <td>{{us.name}}</td>
    <td>{{us.email}}</td>
    <td>{{formatarUsuarios(us)}}</td>
    <td><button class="btn btn-danger">Deletar Usuario</button></td>

</tr>
</table>
</div>


<h1 style="text-align: center;">Adicionar novo Usuario</h1>
<div id="addUsers">
<form name="newUserForm"  ng-controller="usuariosCtrl">
    <label for="Nome"></label>
    <input type="text" class="form-control" ng-model="us.name" placeholder="Nome">

    <label for="Email"></label>
    <input type="text" class="form-control" ng-model="us.email" placeholder="Email">

    <button id="enviar" type="submit" class="btn btn-primary btn-block"  ng-click="adicionarUsuario(us)">Adicionar Novo Usuario</button>





</form>
</div>



